body {
  margin: 0px;
  padding: 0px;
  width: 100%
}

* {
    padding: 0;
    margin: 0;
}

.center { margin: 0 auto; }

.header-content { 
  width: 960px; 
  margin: 0 auto; 
}

.slide {
  position: absolute; 
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  clear: none;
  display: table;
}

.outer-content { 
  display: table-cell;
  vertical-align: middle;
}

.inner-content { 
  width: 800px;
  margin: 0 auto;
}

#header {
  width: 100%;
  background: url('../img/header-bg.png');
  height: 80px;
  position: fixed;
  margin-top: 20px;
  z-index: 1000;
}

#header-logo a {
  font-family: 'Droid Serif', serif;
  font-size: 40px;
  color: #55d400;
  float: left;
  text-decoration: none;
  margin-top: 15px;
  font-weight: normal;
}

#navigation {
  width: 550px;
  float: right;
  margin-top: 20px;
}

#navigation ul {
  list-style: none;
  display: block;
  margin: 0 auto;
}

#navigation li {
  margin-top: 10px;
  float: left;
  padding-left: 20px;
}

#navigation li a {
  font-family: Amaranth;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
}

#navigation li a:active {
  color: #fff;
  opacity: 1;
  border-bottom: 2px solid #fff;
}

#navigation li a:hover {
  color: #fff;
  opacity: 1;
}

#petoria-slide {
  background: url('../img/pt-bg.jpg') 50% 0 no-repeat;
  background-size: cover;
  color: #fff;
}

#petoria-content {
  width: 800px;
  margin: 0 auto;
}

#petoria-logo {
  background: url('../img/petoria-pf-logo.png') 50% 0 no-repeat;
  width: 448px;
  height: 139px;
  padding-bottom: 200px;
}

h1, h2 {
  font-family: Amaranth;
  padding-bottom: 20px;
}

#wordpress-slide {
  background: #bbb;
  color: #000;
}

#wordpress-content {
  margin: 0 auto;
}

#wordpress-content img {
  border-radius: 50px;
}

#programming-slide {
  background: url('../img/pr-bg.png') 50% 0 no-repeat;
  color: #fff;
}

#programming-content {
  margin: 0 auto;
}

#mobile-slide {
  background: #888;
  color: #fff;
}

#mobile-content {
  margin: 0 auto;
}

#mobile-content img {
  border-radius: 50px;
}

